::ng-deep{
 .navbar {
  box-shadow: none !important;
  padding-top: 35px !important;
  font-size: large !important;
  font-weight: 700 !important;
  color: white;
}
.nav-item:hover{
  border-bottom: solid 2px white;
  transition:  width 300ms ease;; 
}
.navbar-toggler-icon{
  background-image: url("/assets/menu.png");
}
}
.cont-btn{
  border-radius: 15px;
}
// ::ng-deep .navbar {
//   background: #0e38b1 !important;
  

// }