<header class="site-header">
    <nav class="container-fullwidth align-items-start" role="navigation" id="navbarMain">
        <div class="row align-items-center">
            <div class="col-auto">
                <a class="sangre-logo-round-" href="index.html">
                    <span class="sr-only">Back to homepage</span>
                </a>
            </div>
            <div class="col-auto d-none d-sm-flex align-items-center p-0">
                <a class="sangre-logo-text-" href="index.html">
                    <span class="sr-only">Sangre logo</span>
                </a>
            </div>
            <div class="col-auto ml-auto justify-content-end site-header-nav">
                <div class="nav nav-main-desktop d-none d-lg-flex">
                    <a class="nav-link " href="services.html">Services</a>
                    <a class="nav-link " href="about.html">About</a>
                    <a class="nav-link " href="work.html">Work</a>
                    <a class="nav-link " href="blog.html">Blog</a>
                    <a class="nav-link " href="careers.html">Careers</a>

                </div>
                <div>
                    <a href="contact.html" class="btn-contact">Contact</a>
                </div>
                <div class="nav nav-lang-desktop d-none d-lg-flex">
                    <a class="nav-link active" href="index.html">EN</a>
                    <a class="nav-link" href="fi.html">FI</a>
                </div>
            </div>
            <div class="menu-toggle-mainmenu">
                <button class="navbar-toggler" id="openFullpageNav" type="button">
                    <mdb-icon fas icon="bars"></mdb-icon><span class="sr-only">Toggle menu</span>
                </button>
            </div>
        </div>
    </nav>
</header>

<div class="fullpage-nav" id="fullpageNav">
    <nav class="container-fullwidth align-items-start" role="navigation">
        <div class="row align-items-center">
            <div class="col-auto">
                <a class="sangre-logo-round-" href="index.html">
                    <span class="sr-only">Back to homepage</span>
                </a>
            </div>
            <div class="col-auto d-flex align-items-center p-0">
                <a class="sangre-logo-text-" href="index.html">
                    <span class="sr-only">Sangre logo</span>
                </a>
            </div>
        </div>
    </nav>

    <div class="menu-container">
        <div class="row no-gutters">
            <div class="col-sm-6">
                <ul class="nav nav-fullpage">
                    <li class="nav-item">
                        <a class="nav-link nav-link-home " href="index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-services " href="services.html">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-about " href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-work " href="work.html">Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-blog " href="blog.html">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-careers " href="careers.html">Careers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-contact " href="contact.html">Contact</a>
                    </li>

                </ul>
            </div>
            <div class="col-sm-6">
                <div class="navbar-secondary justify-content-between">
                    <ul class="nav nav-secondary">
                        <li>
                            <a class="nav-link" href="sangrexstartups.html">Sangre x startups</a>
                        </li>
                        <li>
                            <a class="nav-link" href="podcast-arjen-sankarit.html">Arjen sankarit -podcast</a>
                        </li>
                        <li>
                            <a class="nav-link" href="https://hintalaskuri.sangre.fi/">Price calculator</a>
                        </li>
                        <li>
                            <a class="nav-link" href="sangre-ventures.html">Sangre + ventures</a>
                        </li>
                        <li>
                            <a class="nav-link" href="mailto:info@sangre.fi" tabindex="3">info@sangre.fi</a>
                        </li>
                    </ul>
                    <ul class="nav nav-some">

                        <li>
                            <a class="nav-link" href="https://twitter.com/digitalsangre">
                                <span class="icon-twitter"></span>
                                <span class="sr-only">twitter</span>
                            </a>
                        </li>


                        <li>
                            <a class="nav-link" href="https://www.facebook.com/DigitalSangre/">
                                <span class="icon-facebook"></span>
                                <span class="sr-only">facebook</span>
                            </a>
                        </li>


                        <li>
                            <a class="nav-link" href="https://www.instagram.com/digitalsangre/">
                                <span class="icon-instagram"></span>
                                <span class="sr-only">instagram</span>
                            </a>
                        </li>


                        <li>
                            <a class="nav-link" href="https://www.linkedin.com/company/sangre/">
                                <span class="icon-linkedin"></span>
                                <span class="sr-only">linkedin</span>
                            </a>
                        </li>


                        <li>
                            <a class="nav-link" href="https://dribbble.com/Sangredigital">
                                <span class="icon-dribbble"></span>
                                <span class="sr-only">dribbble</span>
                            </a>
                        </li>


                    </ul>
                    <ul class="nav nav-language">
                        <li class="nav-item">
                            <a href="index.html" class="nav-link active">In English</a>
                            <span class="divider">/</span>
                            <a href="fi.html" class="nav-link">Suomeksi</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('.menu-toggle-mainmenu').on('click', function () {
      var $pageBody = $('body')
      $('#fullpageNav').toggleClass('reveal')
      $pageBody.toggleClass('main-menu-opened')
      //$('body').css('overflow', 'hidden');

      var $desktopMainMenu = $('.site-header-nav')
      var $menuObjects = $('#fullpageNav').children()
      var $mainMenuLinks = $('#fullpageNav').find('.nav-fullpage').children()
      var tl = new TimelineLite()
      var tl2 = new TimelineLite()

      if ($pageBody.hasClass('main-menu-opened')) {
        // Show fullscreen nav
        $desktopMainMenu.css('opacity', 0)

        tl.delay(.3)
        tl.staggerFromTo($menuObjects, 2, { ease: Power2.easeIn, opacity: 0 }, { opacity: 1 }, 0.2)

        tl2.delay(.4)
        tl2.staggerFromTo($mainMenuLinks, 1.5, { ease: Power2.easeInOut, opacity: 0 }, { opacity: 1 }, 0.1)

      } else {
        // Hide fullscreen nav
        tl.staggerTo($menuObjects, 1, { opacity: 0 }, 0.2)

        setTimeout(function () {
          $desktopMainMenu.css('opacity', 1)
        }, 200)
      }
    })

    // MAIN NAVBAR: HIDE/SHOW ON SCROLL
    // **************************

    var $mainNavbar = $('.site-header')

    if ($mainNavbar.length) {
      //var lastScrollTop = 0

      $(window).bind('scroll', function () {
        //var currentScrollTop = $(this).scrollTop()

        if ($(window).scrollTop() > 75) {
          $mainNavbar.addClass('site-header-hidden')
        } else {
          $mainNavbar.removeClass('site-header-hidden')
        }
        //lastScrollTop = currentScrollTop
      })
    }
</script>