<section class="lightblue">
    <app-navbar></app-navbar>
  
    <div class="first">
      <div class="container">
      <p class="h1 text-white text-center">We create digital services <br>that shape your business.</p>
      <p class="h5 text-center grey-text">And we do it full-service.</p>
      <p class="h1 text-center text-white pt-5">Hello Gangadharam</p>
      <p class="text-center"> <button type="button" mdbBtn color="primary" mdbWavesEffect>Hii</button>
        <button type="button" mdbBtn color="secondary" mdbWavesEffect>Hello</button>
        <button type="button" mdbBtn color="success" mdbWavesEffect>Join</button>
      </p>
    </div>
    </div>
  </section>
  <section>
    <div class="container">
      <p class="h2 text-center">welcome to right Workz</p>
    </div>
  </section>
  <section>
    <div class="container">
      <p class="h2 text-center">welcome to right Workz</p>
    </div>
  </section>
  <section>
    <div class="container">
      <p class="h2 text-center">welcome to right Workz</p>
    </div>
  </section>
  <section>
    <div class="container">
      <p class="h2 text-center">welcome to right Workz</p>
    </div>
  </section>